import("tidyverse")
importFrom(foreach,"%dopar%")
importFrom(
  "grid",
  "gpar", "grobTree", "textGrob", "rectGrob", "viewport", "unit"
)
importFrom(magrittr,"%>%")
importFrom(
  "ggplot2",
           
  "ggplot", "aes",
  "geom_bar", "coord_flip", "scale_fill_manual", "scale_fill_gradient", "geom_text",
  "geom_point", "geom_line", "geom_tile", "geom_errorbar", "labs", "xlab", "ylab",
  "guides", "guide_legend", "scale_x_discrete", "ggtitle", "theme", "theme_minimal",
  "theme_dark", "theme_grey", "facet_wrap", "geom_vline", "geom_hline", "scale_color_manual", "scale_color_gradient"
)
export("WrapTool")
export("Fix")
export("Module")
export("Subpipeline")
export("CloneFrom")
export("LoadWrappers")
export("Benchmark")
export("Evaluate")
export("AddLayout")
export("PlotCoRanking")
export("PlotSimilarityHeatmap")
export("PlotLabelsOverlay")
export("PlotClustersOverlay")
export("PlotPopulationHeatmap")
export("PlotClusterHeatmap")
export("PlotCompositionMap")
export("PlotNParameterMap_Clustering")
export("GetExpressionMatrix")
export("GetAnnotation")
export("GetSubpipelineName")
export("GetProjection")
export("GetLayout")
export("GetkNNMatrix")
export("GetDistanceMatrix")
export("GetBootstrapIndices")
export("GetCoRanking")
export("GetPenaltyScoringMatrix")
export("GetClusteringInput")
export("GetClustering")
export("GetClusteringScoringTable")
export("GetNParameterIterationName_Projection")
export("GetNParameterIterationName_Clustering")
export("ShowReadout_Projection")
export("ShowReadout_Clustering")
export("GetNParameterIterationName")
export("GetNParameterIterationsCount")
export("GetNParameterValues")
export("GetProjectionScores")
export("GetClusteringScores")
export("GetScores")
export("ComputekNNMatrix")
export("ExtendGates")
export("ScoreAnnotation")
export("kNNGTweak")
export("GetRMSDPerCluster")
export("GetRMSDPerPopulation")
export("GetLabelClusterMatching")
export("GetPopulationSizes")
export("GetClusterSizes")
export("GetMatchedClusterSizes")
export("GetChannelsAndMarkers")
export("ScoreAnnotation")
export("WhatIs")

export("Jacc")

S3method(Evaluate, Benchmark)
S3method(print, Benchmark)
S3method(print, WrapperWithParameters)
S3method(print, Module)
S3method(print, ModuleChain)
S3method(print, Subpipeline)
S3method(AddLayout, Benchmark)

importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "plot.new")
importFrom("stats", "median", "na.omit", "rnorm", "sd")
importFrom("utils", "tail")
